body {
    font-family:'Verdana', sans-serif;
    min-height: 100vh;
}

main {
    margin-top: 60px;
    position: relative;
    flex: 1;
}

h1 {
    text-transform: uppercase;
    padding-bottom: 20px;
}

.container {
    width: 80%;
    padding-bottom: 50px;
}

table {
    width: 80%; 
    table-layout: fixed; 
}

th, td {
    padding: 10px; 
    text-align: left; 
}

input[type="button"] {
    width: 100%;
}

.emailtform-popup, .numberform-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Full width */
    max-width: 800px;
    height: auto; /* Full height */
    max-height: 75%;
    padding: 20px;
    border: 1px solid #888;
    overflow: auto; /* Enable scroll if needed */
    background-color: white; 
    background-color: #e6f7ff; /* White background with opacity */
    z-index: 9999; /* Sit on top */
}

.emailform-popup h2, .numberform-popup h2 {
    text-transform: uppercase;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

#emailForm {
    padding: 20px;
}

#numberForm {
    padding: 20px;
}

.btn-group .btn {
    margin-right: 10px; 
}

/* @media (max-width: 768px) {
    section .container .email-registrationBx {
        flex-direction: column;
    }
} */
    
/* @keyframes enlarge {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.05); 
} */

/* .form-container {
    animation: enlarge 0.3s ease forwards;
  } */
  
  /* Optional: Animate the form on focus */
  /* .form-container input:focus,
  .form-container textarea:focus,
  .form-container select:focus {
    animation: enlarge 0.3s ease forwards;
} */
  
/* @media (max-width: 768px) {
    section .container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    section .container .email-registrationBx {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }



    section .container .email-registrationBx .email-formBx {
        width: 100%;
        order: 2;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}  */


