body {
    font-family:'Verdana', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    margin-top: 80px;
    position: relative;
    flex: 1 0 auto;
}

h1 {
    text-transform: uppercase;
    padding-bottom: 20px;
}

table {
    width: 100%;
    table-layout: fixed;
    
}

th {
    padding: 10px; 
    text-align: left;
    border: none;
}

td {
    padding: 10px;
    border: none;
}

tr {
    border: none;
}

.container {
    width: 80%;
    padding-bottom: 50px;
}
.col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.col-md-6 input[type="button"],
.col-md-6 a.btntwofa {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

#emailForm, #numberForm {
    padding: 20px;
}

#coinsFormPopup, #emailFormPopup, #numberFormPopup, #passwordFormPopup, #deleteFormPopup {
    display: none; 
    position: fixed; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 800px;
    height: auto; 
    max-height: 75%;
    padding: 20px;
    border: 1px solid #888;
    overflow: auto; 
    background-color: white; 
    background-color: #eee0c9; 
    z-index: 9999;
}

 h2 {
    text-transform: uppercase;
    padding: 10px;
}

#btncoins {
    background-color: gold;
    width: 100%;
    padding: 5px;
}

#btncoins:hover {
    background-color: yellow; 
}


#btnemail, #btnpassword, #btnnumber {
    background-color: #febe8c;
    width: 100%;
    padding: 5px;
}

#btnemail:hover {
    background-color: #ffd9c0;
}

#btnpassword:hover {
    background-color: #ffd9c0;
}

#btndelete:hover {
    background-color: #ffd9c0;
}

#btnnumber:hover {
    background-color: #ffd9c0;
}

#btndelete {
    background-color: black;
    color: white; 
    padding: 5px;
}

#btndelete:hover {
    background-color: red;
}

.btnsubmit {
    background-color: green;
    color: white;
}

.btnsubmit:hover {
    background-color: darkgreen;
}

.btnclose {
    background-color: red;
    color: white;
}

.btnclose:hover {
    background-color: darkred;
}

.btntwofa {
    background-color: grey;
    display: inline-block;
    padding: 5px; 
    color: #fff; 
    text-decoration: none;
    border: black 2px solid;
    text-align: center;
}

.btntwofa:hover {
    background-color: darkgray;
}

@media (max-width: 768px) {
    .container {
        width: 95%; 
    }

    h1 {
        font-size: 1.5rem; 
    }

    table {
        font-size: 0.9rem; 
    }

    input[type="button"], button { 
        font-size: smaller; 
    }

    #coinsFormPopup, #emailFormPopup, #numberFormPopup, #passwordFormPopup, #deleteFormPopup {
        width: 90%;
        max-width: none; 
    }
}

@media (max-width: 480px) {
    table, th {
        padding: 8px;
    }

    input[type="button"], button {
        font-size: smaller;
    }
}

