body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 900px;
}

main {
    margin-top: 40px;
    position: relative;
    min-height: 100vh;
}

h2 {
    text-transform: uppercase;
    padding-bottom: 20px;
}

.container {
    padding-bottom: 40px;
}

.table-header {
    background-color: lightblue;
}

/* Popup form hidden by default */
.form-popup {
    display: none;
}

#viewDetailsBtn {
    margin-bottom: 10px; 
}

#approveBtn {
    padding: 5px;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
}