body {
    font-family:'Verdana', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    padding: 20px;
    background-color: #a3d0e8;
    color: #123548;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-family: 'Verdana', sans-serif; 
}

footer {
    padding: 20px;
    background-color: #a3d0e8;
    color: #123548;
    text-align: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 0;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
}

header h1 {
    flex-grow: 1; 
    text-align: center;
}

.navbar.bg-secondary {
    background-color: #e0eff7 !important;
}


.navbar-nav {
    display: flex;
    margin-bottom: 0;
    list-style-type: none; /* Remove default list styling */
    margin-left: 10px;
}

.navbar-nav li {
    margin-right: 8px; /* Adjust as needed */
}

.navbar-nav li a {
    text-decoration: none; /* Remove underlining */
    color: black; /* Set font color */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav li:not(:last-child) {
    margin-right: 10px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.content {
    padding: 20px;
    text-align: center;
}
.content h2, .content p {
    margin: 20px 0;
}

.company-name {
    font-size: 1rem;
    font-weight: bold;
    color: #123548; 
    display: inline-block;
    vertical-align: middle;
    margin-left: 0;
}


.vulnerability-scanner-info {
    background-color: white; /* or any other color you wish to use */
    color: #123548; /* font color */
    padding: 40px 0;
    font-family: 'Verdana', sans-serif;
}

.vulnerability-scanner-info .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.vulnerability-scanner-info h2 {
    font-size: 2rem; /* adjust size as needed */
    margin-bottom: 20px;
}

.vulnerability-scanner-info ul {
    list-style-type: none; /* removes bullet points */
    padding: 0;
    margin: 0;
}

.vulnerability-scanner-info ul li {
    font-size: 1rem; /* adjust size as needed */
    margin-bottom: 10px; /* space between list items */
}

.vulnerability-scanner-info .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vulnerability-scanner-info .text-section {
    flex: 1;
    padding-right: 20px; /* adjust spacing as needed */
}

.vulnerability-scanner-info .image-section {
    flex: 1;
    text-align: right; /* aligns the image to the right */
}

.vulnerability-scanner-info .image-section .img-fluid {
    max-width: 100%; /* makes image responsive */
    height: auto;
}
