main{
    min-height: 100vh;
}

h2{
    margin-top: 60px;
}


.checkbox-container {
    text-align: center;
    padding: 10px 0; /* Adjust the padding as needed */
}


td.approved {
    background-color: #e6ffee; /* Light green for Approved */
}

td.pending {
    background-color: #ffffe6; /* Light yellow for Pending */
}

/* Custom button styling */
.btn-custom {
    border-radius: 30px; /* Makes the edges rounder */
    padding: 5px 25px; /* Increase padding to make the button bigger */
    margin-right: 20px; /* Adds space between buttons */
}

/* Additional spacing for the container */
.d-inline-flex {
    margin-bottom: 10px; /* Adds more space below the button container */
    margin-top: 10px;
}