html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin-top: 60px;
    position: relative;
    /* display: flex; */
}


h2 {
    text-transform: uppercase;
    padding-bottom: 20px;
}

.container {
    padding-bottom: 40px;
}

/* Popup form hidden by default */
.form-popup {
    display: none;
}

#viewDetailsBtn {
    margin-bottom: 10px; 
    border: 1px solid black;
}

#viewDetailsBtn:hover {
    background-color: darkblue;
}

#approveBtn {
    padding: 5px;
    border: 1px solid black;
}

#approveBtn:hover {
    background-color: darkgreen;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
}