body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    margin-top: 40px;
    position: relative;
    min-height: 100vh;
}


h2 {
    text-transform: uppercase;
    padding-bottom: 20px;
}

.container {
    padding-bottom: 40px;
}

.table-header {
    background-color: lightblue;
}

/* Popup form hidden by default */
.form-popup {
    display: none;
}

.centered-button {
    text-align: center;
    vertical-align: middle;
}

.lock-in-btn-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}

.lock-in-btn-container button {
    flex: 0 0 auto;
}

.btn-primary {
    background-color: ;
    border: 1px solid black; 
}

.btn-primary:hover {
    background-color: #0056b3;
}

footer {
    min-width: 990px;
}
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
}

