body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    margin-top: 40px;
    position: relative;
    min-height: 100vh;
}

h2 {
    text-transform: uppercase;
    padding-bottom: 20px;
}

.container {
    padding-bottom: 40px;
}

/* Popup form hidden by default */
.form-popup {
    display: none;
}

.table-responsive {
    padding-bottom: 10px;
}

.edit-btn {
    border: 1px solid black;
}

.edit-btn:hover {
    background-color: #97E7E1;
}

.btn-primary {
    background-color: #387adf;
    color: #fff;
    border: 1px solid black;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: 1px solid black;
}

.btn-danger:hover {
    background-color: #c82333;
}

#penReportForm {
    padding-top: 60px;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
}