/* General styles */
body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* Service sections */
.service-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0;
}

.box {
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

/* Second section */
#service2, #service4 {
    padding: 50px 0;
}

.big-image {
    width: 50%;
}

.big-image img {
    width: 100%;
    height: auto;
}

.textbox {
    width: 50%; /* Adjusted width */
    padding: 20px;
    box-sizing: border-box;
}

/* Background colors */
.white-bg {
    background-color: #FFFFFF;
}

.blue-bg {
    background-color: #88ccec;
}
